.container5 {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    width: 90%;
    margin: 0 auto;
   
    /* Stretch items to fill the container's width */
    height: 100%;
    /* Ensure the container takes full height */
}

.container5>div {
    flex: 1;
    /* Equal distribution of space */
    margin: 10px;
    /* Optional margin */
    background-color: rgba(255, 255, 255, 0.4);
}

.mainT{
    font-weight:500;
    font-size: 6vmin;
}

.descrips{
    font-size: 3.5vmin;
}


.cardT{
    font-size: 4.5vmin;
}

.topCard{
    height: 100%;
}


