.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    /* Ensure all containers stretch to the same height */
    /* Optional: Prevent wrapping */
}

.container>div {
    flex: 1;
    /* Equal distribution of space */
    margin: 10px;
    /* Optional margin */
    background-color: rgba(255, 255, 255, 0.4);
}

#main-para{
    font-weight:500;
}