.carousel-caption {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.custom-carousel-image {
    max-width: 50vmax;
    height: auto;
    margin: 0 auto;
}

.caroCaption {
    font-size: 3.5vmin;
    /* Adjust font size as needed */
}

.caroPara {
    font-size: 3vmin;
    /* Adjust font size as needed */
}

