#formCont {
    min-height: calc(100vh - 84px);
    align-items: center;
    justify-content: center;
    margin: 0;
    
    gap: 5vmin;
    width: 100%;
}

.Headings{
    font-size: 5vmin;
}

#Buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    gap: 2vmin;
    font-size: 3.5vmin;
    width: 60%;
    align-items: stretch;
    max-height: fit-content;
    align-items: center;

    
    
        
}

#Buttons button{
    flex-grow: 1;
    width: max-content;
}




.footer--pin1 {
    position: relative;
    left: 0;
    bottom: 0;
    justify-content: center;
    text-align: center;
}

.boxSize{
    width: 100%;
}


.form-label{
    width: 100%;
}

.errors{
    font-size: 3.5vmin;;
}