.card {
    width: 70%;
    height: auto;
    margin: auto;
    
    
    /* Adjust the padding as needed */
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    /* Adjust the color and transparency as needed */
    border-radius: 10px;
}

#quote{
    font-size: 4vmin;
}
